################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TC.Mvvm/TC.Mvvm.csproj.user
/src/TC.Mvvm/obj
/src/TC.Mvvm/bin
/src/TC.Mvvm.Tests2/bin
/src/TC.Mvvm.Tests2/obj
/src/.vs
